<% var block = options.block %>
<%- block._editable %>
<% var fieldName = block.name %>

<div class="form__field_wrapper form__field_wrapper--textarea form__field_wrapper--width-<%- block.width %>">
	<% if(block.label) { %>
		<label for="<%- fieldName %>">
			<%- block.label %><% if(block.required) { %><span class="form__required">*</span><% } %>
		</label>
	<% } %>
	<textarea 
		id="<%- fieldName %>"
		name="<%- fieldName %>" 
		class="form__field form__field--textarea"
		<% if(block.placeholder) { %>
			placeholder="<%- block.placeholder %>" 
		<% } %>
		<% if(block.required) { %>required<% } %>></textarea>
</div>