// ======================================================
// Block Styles
// ============
.block_layers {
	padding: 45px 0;
	.main_container:not(.main_container--with_sidebar) & {
		@include container();
	}
}