<% var block = options.block %>
<%- block._editable %>

<div class="block_form">
	<!-- Open Container -->
	<% if(!block.full_width) { %>
		<div class="container">
	<% } %>

		<!-- Form Output -->
		<%- plugins.form(block) %>

	<!-- Close Container -->
	<% if(!block.full_width) { %>
		</div>
	<% } %>
</div>